#schedule {
  padding: 10px 0;
}

.schedule__list {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.schedule__list_active {
  display: flex;
}

.schedule__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: var(--border-color);
  border-radius: 0.375rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease-in-out;
}

#schedule_empty {
  position: relative;
  display: none;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#schedule_empty.active {
  display: flex;
}

.schedule__item:hover {
  background-color: var(--bs-secondary-bg);
}

.schedule__link {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
}

.schedule__link:focus-visible {
  outline: 3px solid var(--bs-body-color);
  outline-offset: 5px;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.activity-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.activity-title {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--border-color);
}

.modal-trainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#modal-trainer-img {
  width: 100px;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.days {
  align-self: center;
  width: fit-content;
  max-width: calc(100% + 30px);
  margin: 0 -15px;
  padding: 10px 10px;
  border-radius: 16px;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: rgba(var(--bs-body-bg-rgb), 0.85);
  background-color: rgba(var(--bs-body-bg-rgb), 0.85);
}

.day {
  position: relative;
}

.day.has-items::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--bs-body-bg);
}

.day.has-items::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--bs-primary);
}

.day>.btn {
  --bs-btn-focus-box-shadow: none;
}

/* bookings */

.classes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.classes:not(:last-child) {
  margin-bottom: 40px;
}

.classes-day {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pagination {
  --bs-pagination-focus-box-shadow: none;
}

.classes-date {
  align-self: center;
  padding: 0 8px;
  border-radius: 2rem;
  background-color: rgba(var(--bs-body-bg-rgb), 0.85);
  line-height: 30px;
}

.sticky-el {
  position: sticky;
  z-index: 50;
  top: 97px;
}

.classes-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.client-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.client-item {
  padding: 10px 20px;
  border-radius: 0.5rem;
  background-color: var(--bs-secondary-bg);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
}

.client-name {
  line-height: 18px;
}

.border-l {
  border-left: 5px solid var(--border-color);
}
