#schedule {
  padding: 10px 0;
}

.schedule__list {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.schedule__list_active {
  display: flex;
}

.schedule__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: var(--border-color);
  border-radius: 0.375rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: var(--bs-box-shadow);
  transition: background-color 0.3s ease-in-out;
}

#schedule_empty {
  position: relative;
  display: none;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: var(--bs-box-shadow);
}

#schedule_empty.active {
  display: flex;
}

.schedule__item:hover {
  background-color: var(--bs-secondary-bg);
}

.schedule__link {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
}

.schedule__link:focus-visible {
  outline: 3px solid var(--bs-body-color);
  outline-offset: 5px;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.activity-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.activity-title {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--border-color);
}

.modal-trainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#modal-trainer-img {
  width: 100px;
}

.days {
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.day>.btn {
  --bs-btn-focus-box-shadow: none;
}