#schedule {
  padding: 10px 0;
}

.schedule__list {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.schedule__list_active {
  display: flex;
}

.schedule__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: var(--border-color);
  border-radius: 0.375rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: var(--bs-box-shadow);
  transition: background-color 0.3s ease-in-out;
}

#schedule_empty {
  position: relative;
  display: none;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--bs-tertiary-bg);
  box-shadow: var(--bs-box-shadow);
}

#schedule_empty.active {
  display: flex;
}

[data-color="1"],
[data-color="2"],
[data-color="11"] {
  --border-color: var(--bs-blue);
}

[data-color="3"],
[data-color="4"] {
  --border-color: var(--bs-red);
}

[data-color="6"],
[data-color="8"] {
  --border-color: var(--bs-teal);
}

[data-color="5"],
[data-color="7"] {
  --border-color: var(--bs-yellow);
}

[data-color="9"] {
  --border-color: var(--bs-indigo);
}

[data-color="10"] {
  --border-color: var(--bs-orange);
}

.schedule__item:hover {
  background-color: var(--bs-secondary-bg);
}

.schedule__link {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
}

.schedule__link:focus-visible {
  outline: 3px solid var(--bs-body-color);
  outline-offset: 5px;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.activity-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.activity-title {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--border-color);
}

.modal-trainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#modal-trainer-img {
  width: 100px;
}

.days {
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.day>.btn {
  --bs-btn-focus-box-shadow: none;
}

.form-messages {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  z-index: 110;

  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0.375rem;
  padding: 0 15px;
  max-width: 1110px;
  width: 100%;
}

.message::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  background-color: var(--bs-body-bg);
}

.message {
  --color-rgb: 0, 255, 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: inherit;
  padding: 10px;
  background-color: rgba(var(--color-rgb), 0.1);
}

.message.error {
  --color-rgb: 255, 0, 0;
}

.message>i {
  flex-shrink: 0;
  color: rgb(var(--color-rgb));
  font-size: 20px;
}

.message>.btn-close {
  flex-shrink: 0;
}

.message>span {
  flex-grow: 1;
}
