<li class="schedule__item"
    style="--border-color: {{ item.service.color }};"
    data-service-url="{% url 'service' service_slug=item.service.slug %}"
    data-date="{{ item.start_time|date:'j E, l'|lower }}"
    data-service-photo="{{ item.service.avatar }}"
    data-trainer-photo="{{ item.trainer.avatar }}"
    data-trainer-url="{% url 'trainer' trainer_slug=item.trainer.slug %}"
    data-schedule-id="{{ item.pk }}"
    data-booking-id="{{ booking_id }}"
    data-can-book="{% if item.is_available and canceled %}true{% else %}false{% endif %}"
    data-can-cancel="{% if not canceled and item.day_before %}true{% else %}false{% endif %}">

  <h5 class="mb-0 schedule__name">{{ item.service }}</h5>

  <div class="text-block">
    <span class="schedule-time-range">
      <time datetime="{{ item.start_time|date:'c' }}">{{ item.start_time|date:'H:i' }}</time>
      <span> - </span>
      <time datetime="{{ item.end_time|date:'c' }}">{{ item.end_time|date:'H:i' }}</time>
    </span>

    <span class="text-body-secondary schedule-time-duration"><i class="bi bi-clock"></i> {{ item.service.duration_min }} мин.</span>
  </div>

  <span class="schedule__trainer">{{ item.trainer }}</span>

  {% if item.is_available %}
  <span class="text-body-secondary">Свободно мест: {{ item.count_remained_seats }}</span>
  {% endif %}

  {% if canceled %}
  <strong class="text-danger">Запись отменена</strong>
  {% elif item.in_future %}
  <strong class="text-info">Вы записаны</strong>
  {% endif %}

  <a href="" class="schedule__link" data-bs-toggle="modal" data-bs-target="#scheduleModal"></a>
</li>
