.breadcrumb {
  margin-bottom: 50px;
}

.title {
  margin-bottom: 15px;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.block:not(:last-child) {
  margin-bottom: 30px;
}

#card:not(:last-child) {
  margin-bottom: 50px;
}

.card__row {
  --bs-gutter-x: 60px;
  row-gap: 45px;
}

.cards__row {
  row-gap: 30px;
}

.card__wrap {
  height: 100%;
  background-color: var(--bs-tertiary-bg);
}

.card__img-container {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

.card__img {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: transform 0.3s ease-in-out;
}

.card__name {
  padding: 10px;
}

.card__wrap:hover .card__img {
  transform: scale(1.1);
}

.block p:last-child {
  margin-bottom: 0;
}

.sticky {
  position: sticky;
  top: 100px;
}

/* advantages */

.section {
  margin-bottom: 100px;
}

.advantages__row {
  --bs-gutter-x: 20px;
  row-gap: var(--bs-gutter-x);
}

.advantages-subtitle {
  margin-right: 25px;
}

/* contacts */

.contacts__row {
  --bs-gutter-x: 20px;
  row-gap: 30px;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  font-size: 0;
}

.map>iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: inherit;
}

.empty-state-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  max-width: 1110px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  font-size: 20px;
}