{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/media.css' %}">
{% endblock %}

{% block main %}
<section class="hero my-5">
  <div class="container">
    <div class="py-4 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis mb-5">Добро пожаловать в FitPro</h1>

      <div class="col-lg-7 mx-auto">
        <p class="lead mb-4">
          Персональные тренировки, современное оборудование и индивидуальный подход. Достигайте целей вместе с нами!
        </p>

        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <a class="btn btn-primary btn-lg px-4" href="{% url 'schedule:schedule' %}">Записаться</a>
          <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'services' %}">Направления</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popular-trainers section">
  <div class="container">
    <h2 class="text-center mb-4">Тренеры месяца</h2>

    {% include 'core/includes/trainers-cards.html' %}
  </div>
</section>

<section class="popular-services section">
  <div class="container">
    <h2 class="text-center mb-4">Занятия месяца</h2>

    {% include 'core/includes/services-cards.html' %}
  </div>
</section>

<section class="advantages section">
  <div class="container">
    <h2 class="mb-4 text-center">Почему стоит выбрать нас</h2>

    <div class="row advantages__row">
      <div class="col-lg-6">
        <div class="accordions">
          <div class="accordion">
            <div class="accordion-header">
              <strong class="advantages-subtitle">Спортивный бассейн 25 м</strong>

              <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
            </div>

            <div class="accordion-body closed">
              <p class="mb-0">
                5 дорожек для плавания для индивидуальных и групповых тренировок, а также для свободного плавания.
              </p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <strong class="advantages-subtitle">Зал функциональных тренировок 200 м²</strong>

              <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
            </div>

            <div class="accordion-body closed">
              <p class="mb-0">
                Отдельный зал, где сочетается оборудование для функциональных и силовых тренировок, а также для тяжелой
                атлетики - штанги, стойки, брусья, широкий гантельный ряд.
              </p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <strong class="advantages-subtitle">Парковка</strong>

              <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
            </div>

            <div class="accordion-body closed">
              <p class="mb-0">
                Бесплатная просторная парковка на 300+ автомобилей.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="accordions">
          <div class="accordion">
            <div class="accordion-header">
              <strong class="advantages-subtitle">Квалифицированный тренерский состав</strong>

              <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
            </div>

            <div class="accordion-body closed">
              <p class="mb-0">
                Наша команда – это кандидаты и мастера спорта, призеры международных соревнований с высшим спортивным
                или профессиональным фитнес-образованием, сертифицированные специалисты.
              </p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <strong class="advantages-subtitle">Персональный менеджер</strong>

              <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
            </div>

            <div class="accordion-body closed">
              <p class="mb-0">
                Обращаясь в наш фитнес, за вами закрепляется персональный менеджер, к которому можно обратиться за
                решением вопросов.
              </p>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-header">
              <strong class="advantages-subtitle">Юридическая надежность</strong>

              <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
            </div>

            <div class="accordion-body closed">
              <p class="mb-0">
                Мы всегда помогаем решить вопросы клиента - расторгнуть договор, поменять тренера, вернуть деньги за
                услугу, на каждую услугу предоставляется чек.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contacts">
  <div class="container">
    <div class="row contacts__row">
      <div class="col-md-5 contacts__block">
        <h2 class="mb-2">Контакты</h2>

        <div class="text-block">
          <h5>Адрес:</h5>

          <strong>
            <a class="link-body-emphasis" href="https://yandex.ru/maps/-/CHGWrJ5t" target="_blank">г. Тула, пр. Ленина,
              д. 16</a>
          </strong>
        </div>

        <div class="text-block">
          <h5>Телефон:</h5>

          <strong>
            <a class="link-body-emphasis" href="tel:+79029059406">+7 (902) 905 94-06</a>
          </strong>
        </div>

        <div class="text-block">
          <h5>Email:</h5>

          <strong>
            <a class="link-body-emphasis" href="mailto:moskalchukvladislav@yandex.ru">moskalchukvladislav@yandex.ru</a>
          </strong>
        </div>
      </div>

      <div class="col-md-7">
        <div class="map">
          <a
            href="https://yandex.ru/maps/15/tula/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">

            Тула
          </a>

          <a
            href="https://yandex.ru/maps/15/tula/house/prospekt_lenina_35/Z04YcAZiQEMDQFtufX15eX9qYw==/?indoorLevel=1&ll=37.615712%2C54.188676&utm_medium=mapframe&utm_source=maps&z=17.07"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">

            Проспект Ленина, 35 — Яндекс Карты
          </a>

          <iframe
            src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.615712%2C54.188676&mode=whatshere&whatshere%5Bpoint%5D=37.612662%2C54.188188&whatshere%5Bzoom%5D=17&z=17.07&theme=dark"
            allowfullscreen="true" style="position:relative;">

          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/accordion.js' %}"></script>
{% endblock %}
