{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/media.css' %}">
{% endblock %}

{% block main %}
<section id="cards">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Занятия</li>
      </ol>
    </nav>

    <h1 class="mb-4 mb-sm-5 text-center">{{ title }}</h1>

    {% if services %}
    {% include 'core/includes/services-cards.html' %}
    {% else %}
    <span class="empty-state-text">Список занятий пуст</span>
    {% endif %}
  </div>
</section>
{% endblock %}
