{% extends 'base.html' %}

{% load static date_extras %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/messages.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'schedule/css/style.css' %}">
<link rel="stylesheet" href="{% static 'schedule/css/media.css' %}">
{% endblock %}

{% block main %}
<div class="container">
  <h1 class="mb-4 mb-sm-5 text-center">{{ title }}</h1>

  {% include 'users/includes/messages.html' %}

  {% include 'schedule/includes/schedule-modal.html' %}

  {% if bookings %}
  <div class="classes-block">
    {% for day in bookings %}
    <div>
      <span class="classes-date">{{ day.date|to_day }}</span>

      <ul class="list-reset schedule__list schedule__list_active">
        {% for el in day.items %}
        {% include 'schedule/includes/booking-item.html' with item=el.schedule canceled=el.canceled booking_id=el.id %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <span class="empty-state-text">У вас пока нет записей на занятия</span>
  {% endif %}

  {% include 'schedule/includes/pagination.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/messages.js' %}"></script>
<script src="{% static 'schedule/js/schedule.js' %}"></script>
{% endblock %}
