{% extends 'base.html' %}
{% load static schedule_tags %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/messages.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'schedule/css/style.css' %}">
<link rel="stylesheet" href="{% static 'schedule/css/media.css' %}">
{% endblock %}

{% block main %}
<section id="schedule">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Расписание</li>
      </ol>
    </nav>

    <h1 class="text-center mb-5">{{ title }}</h1>

    {% include 'users/includes/messages.html' %}

    {% get_schedule request as result %}

    {% if result.schedule %}
    {% include 'schedule/schedule-list.html' with days=result.days schedule=result.schedule %}
    {% else %}
    <span class="empty-state-text">Нет доступных занятий в ближайшее время</span>
    {% endif %}
  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/messages.js' %}"></script>
<script src="{% static 'schedule/js/schedule.js' %}"></script>
{% endblock %}
