{% extends 'users/base.html' %}

{% load static %}

{% block header %}
{% endblock %}

{% block main %}
<div class="container">
  <div class="wrap">
    {% include 'users/includes/messages.html' %}

    <form class="form m-auto" method="post">
      {% csrf_token %}

      <input type="hidden" name="next" value="{{ next }}"/>

      {% include 'core/includes/logo.html' %}

      <h1 class="title">{{ title }}</h1>

      <span class="center">Отправим ссылку на восстановление вам на почту</span>

      <div class="block">
        {% for field in form %}
        <div class="field-container">
          <div class="form-floating">
            {{ field }}
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>

          {% if field.errors %}
          <div class="field-errors">
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <button class="btn btn-primary py-3" type="submit">Отправить</button>

      <span class="center">Уже есть аккаунт? <a href="{% url 'users:login' %}" class="btn btn-link">Войти</a></span>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
