{% extends 'users/base.html' %}

{% load static %}

{% block main %}
<div class="container profile-container">
  <div class="profile-block">
    <h1 class="title">{{ title }}</h1>

    <img class="rounded-circle user-img profile-img" src="{{ user.avatar }}" alt="Аватар">

    <h2 class="heading mb-3">
      {% if user.trainer %}
        <a href="{% url 'trainer' trainer_slug=user.trainer.slug %}" class="link-info">{{ user }}</a>
      {% else %}
      {{ user }}
      {% endif %}
    </h2>

    <div class="accordions">
      <div class="accordion">
        <div class="accordion-header">
          <h3 class="accordion-title">Персональные данные</h3>

          <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
        </div>

        <div class="accordion-body closed">
          <div class="d-flex flex-column mb-3">
            <a href="{% url 'users:profile_edit' %}" class="link-info align-self-end">Изменить</a>
          </div>

          <ul class="list-reset profile-list">
            <li class="profile-item">
              <h5><i class="bi bi-envelope"></i> Электронная почта</h5>

              <span>{{ user.email|default:'Не указана' }}</span>
            </li>

            <li class="profile-item">
              <h5><i class="bi bi-telephone"></i> Номер телефона</h5>

              <span>{{ user.phone_number|default:'Не указан' }}</span>
            </li>

            <li class="profile-item">
              <h5><i class="bi bi-cake2"></i> Дата рождения</h5>

              <span>{{ user.birth_date|date:'d.m.Y'|default:'Не указана' }}</span>
            </li>

            <li class="profile-item">
              <h5><i class="bi bi-gender-ambiguous"></i> Пол</h5>

              <span>{% if user.gender == 'М' %}Мужской{% elif user.gender == 'Ж' %}Женский{% else %}Не указан{% endif %}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-header">
          <h3 class="accordion-title">Дополнительно</h3>

          <button class="accordion-btn closed"><i class="bi bi-chevron-up"></i></button>
        </div>

        <div class="accordion-body closed">
          <ul class="list-reset profile-list">
            <li class="profile-item">
              <h5><i class="bi bi-calendar4-event"></i> Дата регистрации</h5>

              <span>{{ user.date_joined|date:'d.m.Y' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/accordion.js' %}"></script>
{% endblock %}
