{% extends 'users/base.html' %}

{% load static %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'schedule/css/style.css' %}">
{% endblock %}

{% block main %}
<div class="container">
  <h1 class="title mb-3">{{ title }}</h1>

  <div class="classes-block">
    {% for day in classes %}
    <div class="accordions">
      {% now 'Y' as current_year %}

      <span>{% if day.date|date:'Y' == current_year %}{{ day.date|date:'j E, l'|lower }}{% else %}{{ day.date|date:'j E Y' }}{% endif %}</span>

      {% for el in day.items %}
      <div class="accordion closed">
        <div class="accordion-header border-l" style="--border-color: {{ el.service.color }};">
          <h5 class="mb-0">{{ el.service }}</h5>

          <div class="text-block">
            <span class="schedule-time-range">
              <time datetime="{{ el.start_time|date:'c' }}">{{ el.start_time|date:'H:i' }}</time>
              <span> - </span>
              {% with end_time=el.start_time|add:el.service.duration %}
              <time datetime="{{ end_time|date:'c' }}">{{ end_time|date:'H:i' }}</time>
              {% endwith %}
            </span>

            <span class="text-body-secondary schedule-time-duration"><i class="bi bi-clock"></i> {{ el.service.duration_minutes }} мин.</span>
          </div>

          <span>Записано: {{ el.active_booking|length }} / {{ el.service.max_participants }}</span>

          {% if el.active_booking|length %}
          <button class="accordion-btn"><i class="bi bi-chevron-up"></i></button>
          {% endif %}
        </div>

        <div class="accordion-body">
          <ul class="list-reset classes-list">
            {% for booking in el.active_booking %}
            <li class="classes-item">
              {% with client=booking.client %}

              <div class="user-block mb-2">
                <img src="{{ client.avatar }}" alt="{{ client }}" class="user-img">

                <b class="mb-0">{{ client }}</b>
              </div>

              <div>
                <a class="link-body-emphasis" href="mailto:{{ client.email }}"><i class="bi bi-envelope"></i> {{ client.email }}</a>
              </div>

              {% if client.phone_number %}
              <div>
                <a class="link-body-emphasis" href="tel:{{ client.phone_number }}"><i class="bi bi-telephone"></i> {{ client.phone_number }}</a>
              </div>
              {% endif %}

              <span><i class="bi bi-clock"></i> Время записи: {% if booking.booked_at.year == year %}{{ booking.booked_at|date:'j E в H:i' }}{% else %}{{ booking.booked_at|date:'j E Y в H:i' }}{% endif %}</span>
              {% endwith %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  {% include 'users/includes/pagination.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/accordion.js' %}"></script>
{% endblock %}
