<div class="row cards__row">
  {% for trainer in trainers %}
  <div class="col-md-4 col-sm-6">
    <a href="{% url 'trainer' trainer_slug=trainer.slug %}">
      <div class="card__wrap shadow-lg rounded-4">
        <div class="card__img-container">
          <img class="card__img" src="{{ trainer.photo.url }}" alt="{{ trainer }}">
        </div>

        <div class="card__name">
          <h4 class="mb-0 text-center">{{ trainer }}</h4>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
